body {
    margin: 0px;
}

.b-top {
    border-top: 1px solid grey
}
.b-right {
    border-right: 1px solid grey;
}
.b-btm {
    border-bottom: 1px solid grey;
}
.b-left {
    border-left: 1px solid grey;
}

#background-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    margin: auto;
    padding: 0;
    gap: 20px;
}

#body-wrapper{
    /* display: none; */
}

.hori-buffer {
    width: 20px;
}

/* #navbar-home-icon:before {
    content: "Home";
}

#navbar-home-icon:after {
    content: "";
} */

#navbar-container {
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 5px 0px black;
    width: 100%;
    min-width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

#hub-container {
    /* border: 1px solid blue; */
    /* width: 100%; */
    min-width: 500px;
    height: calc(90% - 20px);
    padding: 10px;
    overflow-y: auto;
    display: flex;
}

.navbar-btn-dropdown {
    position: relative;
    display: inline-block;
    min-width: fit-content;
}

#navbar-container .navbar-btn-dropdown:not(:has(~ .navbar-btn-dropdown)) .dropdown-btn {
    border-left: 1px solid black;
}

.dropdown-btn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-right: 1px solid gray
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.vertical-dropdown-subbtn{
    border: 1px solid lightgrey;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-btn-dropdown:hover .dropdown-content {
    display: block;
}

#navbar-home {
    float: right;
}

#tabular-system {
    display: inline-block;
    position: relative;
}

.primary-hub-menu-tab {
    position: relative;
    width: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
    border-right: none;
}

.primary-hub-menu-tab-btn{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-right: 1px solid black;
    cursor: pointer;
    text-align: left;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.custom-btn:hover{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.active-tab {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-right: none;
}

#content-display {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    width: 90%;
    display: block;
    box-shadow: 5px 5px 5px 0px gray;
    overflow: hidden;
}

.display-popout-container {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    background-color: white;
    z-index: 10;

    transform: scaleX(0);
    /* transform: scaleX(1); */
    transform-origin: left center;

    transition: transform 0.4s ease;
    /* display: hidden; */
    box-sizing: border-box;
}

.display-popout-container.popout-open {
    display: block;
    transform: scaleX(1);
}

.table-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.popout-content-table {
    border-collapse: collapse;
    padding: 0px;
    width: 100%;
    table-layout: fixed;
}

.popout-content-table tr td {
    text-align: center;
}

.application-row {
    cursor: pointer;
}

.application-details {
    display: none;
}

.application-details.open {
    display: table-row;
}

.application-details-content {
    padding: 15px 25px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
}

.application-row:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.default-display-wrapper {
    width: 75%;
    height: 90%;
    padding: 2px;
    margin: auto;
    font-size: 20px;
}

/* .secondary-hub-menu-tab-btn:hover + .secondary-tab-content,
.tertiary-hub-menu-tab-btn:hover + .tertiary-tab-content {
    display: block;
} */

.scrolling-paper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #paper-canvas {
    height: 99vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .continue-message {
    position: absolute;
    right: 120px;
    bottom: -20px;
    font-size: 16px;
    font-weight: bold;
    animation: flash 1s infinite;
  }
  
  @keyframes flash {
    0%,
    100% {
      opacity: 1;
    }
    40%,
    60% {
      opacity: 0;
    }
  }
  
  #click-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    cursor: pointer;
  }
  
  .scroll-text-linebreak {
    padding: 3px;
    display: block;
  }
  
  .scroll-text-indent {
    display: inline-block;
    width: 2em;
  }
  
  #canvas-text {
  }
  